.infocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resortlogo {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2vmin;
    margin: 2vmin;
    margin-top: 4vmin;
    height: 20vh;
    width: 15vw;
}

.infocontainer p {
    background-color: rgba(84,84,84,.68);
    width: 50%;
    padding: 2vmin;
    border-radius: 1vmin;
    color: white;
}