@media (max-width:767px) {
    .subNav {
        color: rgba(94,23,235,1);
        font-weight: 700;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5vmin;
        justify-content: center;
    }  
}

.subNav {
    color: rgba(94,23,235,1);
    font-weight: 700;
}

.subNav a {
    color: rgba(193,255,114,1);
    background-color:  rgba(94,23,235,.6);
    text-decoration: none;
    padding: 1vmin;
    border-radius: 1vmin;
    font-weight: 400;
}

.subNav a:hover {
    background-color: rgba(193,255,114,.6);
    color:  rgba(94,23,235,1);
}

.subNav span {
    color: rgba(193,255,114,1);
    background-color: rgba(84,84,84,.7);
    width: fit-content;
    padding: 1vmin;
    border: solid .3vmin;
    border-color: rgba(94,23,235,.8);
    border-radius: .5vmin;
}